<div class="categorias" >
  <h4 *ngFor="let item of noticiaPorCategoria" routerLink="/categoria/{{ item.categoria.id }}">
    {{ item.categoria.categoria }}
  </h4>
  
  <h5>
    Ver todas >>
  </h5>
</div>

<div class="ultimasNoticias" *ngIf="ultimasNoticias.length > 0">
  <h2>
    Últimas notícias
  </h2>
  <div class="container">
    <div class="noticiaPrincipal">
      <div class="imagem" [style.backgroundImage]="'url(' + ultimasNoticias[0].imagemPrincipal + ')'">
        <span class="categoria">Cotidiano</span>
      </div>
      <h3>{{ ultimasNoticias[0].manchete }}</h3>
    </div>
    <div class="secundarias">
      <div class="noticiaSecundaria">
        <div class="imagem" [style.backgroundImage]="'url(' + ultimasNoticias[1].imagemPrincipal + ')'">
          <span class="categoria">Cotidiano</span>
        </div>
        <h3>{{ ultimasNoticias[1].manchete }}</h3>
      </div>
      <div class="noticiaSecundaria">
        <div class="imagem" [style.backgroundImage]="'url(' + ultimasNoticias[2].imagemPrincipal + ')'">
          <span class="categoria">Cotidiano</span>
        </div>
        <h3>{{ ultimasNoticias[2].manchete }}</h3>
      </div>
    </div>
  </div>
</div>

<ng-container *ngFor="let item of noticiaPorCategoria">
  <div class="categoria" *ngIf="item.noticias.length > 0">
    <h4 routerLink="/categoria/{{ item.categoria.id }}">
      {{ item.categoria.categoria }}
    </h4>
    <div class="noticias">
      <div class="noticia" *ngFor="let noticia of item.noticias" routerLink="/noticia/{{noticia.id}}">
        <div class="imagem" [style.backgroundImage]="'url(' + noticia.imagemPrincipal + ')'"></div>
        <h5>{{ noticia.manchete }}</h5>
      </div>
    </div>
  </div>
</ng-container>

<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>